.container-main {
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  h1 {
    font-size: 24px;
    line-height: 33px;
    color: rgba(255, 254, 254, 0.705);
    margin-bottom: 6px;
  }
  
  p {
    color: rgba(255, 254, 254, 0.705);
    margin-bottom: 53px;
  }
  
  input {
    width: 354px;
    height: 60px;
    margin-bottom: 48px;
  }

  button {
    width: 154px;
    height: 48px;
  }
  
}

.container-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  background-color: var(--black200);

  padding: 53px 49px 55px;
}

.container-imgs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  gap: 113px;
  margin-bottom: 62px;
}

.arrow-img {
  cursor: pointer;
}

