.container-page {
  height: 100vh;
  width: 100vw;
  background-color: var(--black);
}

.container-create {
  width: 100%;
  background-color: var(--black);
  border: 1px solid var(--black700);
  display: flex;
  flex-direction: column;
  
  label {
    color: var(--white700);
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 13px;
  }
  
  span {
    color: var(--gray1300);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
  
  button {
    width: 226px;
    height: 48px;
    margin: 16px 0 50px 115px;
  }
  
  select {
    width: 354px;
    height: 60px;
  }
}

.container-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 37px;
  padding-left: 53px;
  margin-top: 32px;
  
  h1 {
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }
  
  img {
    width: 25px;
    height: 25px;
  }
}

.img-back {
  cursor: pointer;
}

.border {
  border-top: 1px solid var(--black700);
  background-color: var(--black);
  width: 1081px;
  height: 206px;
  margin-left: 145px;
  margin-top: 22px;
  
}

.container-row {
  border-radius: 5px;
  background-color: var(--black200);
  
  display: flex;
  flex-direction: row;
  
  padding: 24px 267px 42px 30px;
  width: 1081px;
  height: 206px;
  margin-top: 26px;
  gap: 76px;
}

.container-personalize {
  display: flex;
  flex-direction: column;
  
  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--white700);
    
    margin-bottom: 15px;
  }
  
  input {
    width: 354px;
    height: 60px;
  }
}

.container-amount {
  margin-top: 48px;
}

.container-filter {
  display: flex;
  flex-direction: column;
  
  background-color: var(--black200);
  border-radius: 5px;
  
  padding: 24px 697px 35px 32px;
  width: 1081px;
  height: 206px;
  margin-left: 145px;

  margin-top: 58px;

  h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--white700);

    margin-bottom: 15px;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.select {
  all: unset;
  background: var(--gray900);
  color: var(--white);
  border: 1.5px solid var(--textDarkHover);
  box-sizing: border-box;
  border-radius: 5px;
  padding: 18px;
  cursor: pointer;
}
