.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  height: 300px;
  margin-top: 99px;

  h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--white);
    margin-top:50px;
  }
  
  p {
    color: var(--white300);
    margin-top: 8px;
    margin-bottom:36px;
    line-height: 22px;
  }

  img{
    width: 174px;
  }
}

