.container-alert {
  position: fixed;
  top: 10px; 
  z-index: 2;
  width: calc(80vw);  
}

.success {
  border: 1px solid var(--green);
  path {
    fill: var(--green);
  }
}

.error {
  border: 1px solid var(--salmon);
  path {
    fill: var(--salmon);
  }
}

.warning {
  border: 1px solid var(--yellow);
  path {
    fill: var(--yellow);
  }
}

