.table-header {
  width: 426px;
  height: 45px;
  padding: 12px 23px;

  color: var(--white);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;

  background-color: var(--pink200);
  border-radius: 5px 5px 0px 0px;
}

.table-body {
  background: var(--white);

  span {
    color: var(--black200);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}

.line {
  display: flex;
  width: 426px;
  max-height: 179px;
  justify-content: space-between;
  padding: 17px 26px;
  border-bottom: 1px solid var(--black400);
}

.span{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-img {
  display: flex;
  gap: 14px;
}

.container-no-data {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  padding: 22px 42px 22px 24px;

  p {
    color: var(--black200);
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
