.container-main {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: var(--black);
}

.div-wrapper {
  background-color: var(--black);
  display: flex;
  width: 100%;
}

.div-center {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  min-height: calc(100% - 95px - 31px);
  width: calc(100vw - 325px);
}