// button refer to button primary dark/ligth
.button {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 30px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  background-color: var(--btnPrimary);
  color: var(--textLight);
  cursor: pointer;
}

.button:hover {
  background: var(--btnPrimaryOpacity);
}
.button:active {
  background-color: var(--btnActive);
}

.button:disabled,
.button[disabled] {
  border: 1px solid var(--btnDisable);
  background-color: var(--btnDisable);
  color: var(--textLight);
  cursor: not-allowed;
}

/*BUTTON DARK SECONDARY*/

.button-dark-secondary {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  border: 1px solid var(--btnSecondaryColor);
  color: var(--btnSecondaryColor);
  background: var(--backgroudDarkContainer);
  cursor: pointer;
}
.button-dark-secondary:hover {
  color: var(--btnSecondaryHover);
  background: #1e1f1e;
  border: 1px solid var(--btnSecondaryHover);
}
.button-dark-secondary:active {
  border: 1px solid var(--borderColor);
  background-color: var(--backgroudDarkContainer);
}

.button-dark-secondary:disabled,
.button-dark-secondary[disabled] {
  border: 1px solid var(--btnSecondaryDisable);
  background: var(--backgroudDarkContainer);
  color: var(--btnSecondaryDisable);
  cursor: not-allowed;
}
/*BUTTON LIGTH SECONDARY*/
.button-ligth-secondary {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  background-color: var(--backgroudLigth);
  color: var(--btnPrimary);
  cursor: pointer;
  border: 1px solid var(--btnPrimary);
}

.button-ligth-secondary:hover {
  border: 1px solid var(--btnLightHover);
  color: var(--btnLightHover);
}

.button-ligth-secondary:active {
  border: 1px solid var(--btnActive);
  color: var(--btnActive);
  background-color: var(--textLight);
}

.button-ligth-secondary:disabled,
.button-ligth-secondary[disabled] {
  border: 1px solid var(--btnDisable);
  color: var(--btnDisable);
  background-color: var(--textLight);
  cursor: not-allowed;
}
