// button refer to button primary dark/ligth
.button {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 30px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  background-color: var(--pink200);
  color: var(--white);
  cursor: pointer;
}

.button:hover {
  background: var(--pink300);
}
.button:active {
  background-color: var(--pink500);
}

.button:disabled,
.button[disabled] {
  border: 1px solid var(--gray);
  background-color: var(--gray);
  color: var(--white);
  cursor: not-allowed;
}

/*BUTTON DARK SECONDARY*/

.button-dark-secondary {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  border: 1px solid var(--gray600);
  color: var(--gray600);
  background: var(--black200);
  cursor: pointer;
}
.button-dark-secondary:hover {
  color: var(--white300);
  background: var(--black200);
  border: 1px solid var(--white300);
}
.button-dark-secondary:active {
  border: 1px solid var(--gray500);
  background-color: var(--black200);
  color: var(--gray500);
}

.button-dark-secondary:disabled,
.button-dark-secondary[disabled] {
  border: 1px solid var(--gray400);
  background: var(--black200);
  color: var(--gray400);
  cursor: not-allowed;
}
/*BUTTON LIGTH SECONDARY*/
.button-ligth-secondary {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  border-radius: 5px;
  padding: 14px 50px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;

  background-color: var(--white);
  color: var(--pink200);
  cursor: pointer;
  border: 1px solid var(--pink200);
}

.button-ligth-secondary:hover {
  border: 1px solid var(--pink300);
  color: var(--pink300);
}

.button-ligth-secondary:active {
  border: 1px solid var(--pink500);
  color: var(--pink500);
  background-color: var(--white);
}

.button-ligth-secondary:disabled,
.button-ligth-secondary[disabled] {
  border: 1px solid var(--gray);
  color: var(--gray);
  background-color: var(--white);
  cursor: not-allowed;
}

.displayNone {
  display: none;
}