:root {
  --pink: #e31c79;
  --pink200: #a40d56;
  --pink300: #a40d56cc;
  --pink400: #a40d5699;
  --pink500: #8e144f;
  --salmon: #ff8585;
  --black: #1b1d1c;
  --black200: #1e1f1e;
  --black300: #212322;
  --black400: #2123221a;
  --black500: #2123224d;
  --black600: #5f6368;
  --yellow: #ffc866;
  --yellow200: #ffc8660d;
  --red200: #ff85850d;
  --red300: #ff577d;
  --green: #58a33d;
  --green200: #58a33d0d;
  --gray: #999999;
  --gray200: #505253;
  --gray300: #2123224d;
  --gray400: #444444;
  --gray500: #ededed;
  --gray600: #e3e2e2;
  --gray700: #cfd1dc;
  --gray800: #8f8f8f;
  --gray900: #cacaca12;
  --gray1000: #c4c4c4;
  --gray1100: #d8d8d8;
  --gray1200: #2d2d2d;
  --white: #fffefe;
  --white200: #f6f6f6;
  --white300: #f3f3f399;
  --white400: #fcfcfc;
  --white500: #fffefeb3;
  --white600: #d6d6d6b3;
}

@import url("./button.scss");
@import url("./input.scss");
@import url("./typography.scss");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Montserrat", sans-serif, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  width: 100vw;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// containerInput é a div que envolve um input onde talvez seja necessário exibir um erro
.containerInput {
  display: flex;
  flex-direction: column;
  gap: 4px;

  span {
    width: 90%;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: var(--red300);
    text-align: right;
  }
}