:root {
  --primary: #e31c79;
  --backgroudDark: #1b1d1c;
  --backgroudDarkContainer: #1e1f1e;
  --backgroudLigth: #f6f6f6;
  --alert: #ff8585;
  --alertOpacity: #ff85850d;
  --attention: #ffc866;
  --attentionOpacity: #ffc8660d;
  --ok: #58a33d;
  --okOpacity: #58a33d0d;
  --textDark: #212322;
  --textDarkHover: #2123224d;
  --textGray: #505253;
  --textLight: #fffefe;
  --btnPrimary: #a40d56;
  --btnPrimaryOpacity: #a40d56cc;
  --btnActive: #8e144f;
  --btnDisable: #999999;
  --btnSecondaryColor: #e3e2e2;
  --btnSecondaryHover: #f3f3f399;
  --btnSecondaryDisable: #444444;
  --btnLightHover: #a40d5699;
  --borderColor: #ededed;
  --inputBackgroundLigth: #fcfcfc;
}

@import url("./button.scss");
@import url("./input.scss");
@import url("./typography.scss");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", "Montserrat", sans-serif, "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
