.input {
  all: unset;
  background: #cacaca12;
  color: var(--textLight);
  border: 1.5px solid var(--textDarkHover);
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
}
.input:hover {
  background: #cacaca12;
  border: 1.5px solid #cfd1dc;
}

.input-light {
  all: unset;
  background: var(--inputBackgroundLigth);
  border: 1.5px solid var(--textDarkHover);
  color: var(--textDark);
  box-sizing: border-box;
  border-radius: 5px;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  padding: 18px;
}
.input-light:hover {
  color: var(--textDark);
  border: 1.5px solid var(--textDark);
}
