p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}
textarea {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: var(--black300);
}

span,
h1,
h2,
h3 {
  font-family: "Open Sans";
}
