.background {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: #3d3d3d4b;
}
.container {
  width: 592px;
  height: 275px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--white200);

  div {
    display: flex;
    flex-direction: column;
    padding: 5px 25px 15px 25px;
    gap: 15px;
  }
  h2 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
  }
  input {
    width: 354px;
  }

  button {
    width: 255px;
    height: 48px;
  }
}
.btn-close {
  position: relative;
  margin: 0;
  padding: 0;
  button {
    all: unset;
    position: absolute;
    right: 15px;
    top: 15px;
  }

  cursor: pointer;
}
