.container-my-tests{
  padding-top: 34px;
  padding-left: 26px;
}

.back{
  display: flex;
  width: 100%;
  gap: 46px;
  align-items: center;
  padding-bottom: 22px;

  img{
    cursor: pointer;
  }

  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--white);
  }
}

.border {
  border-top: 1px solid var(--black700);
  background-color: var(--black);
  box-sizing: content-box;
}

.container-filter{
  position: relative;
  width: 355px;
  height: 60px;
  padding-left: 80px;
  margin-top: 11px;
  margin-bottom: 50px;
}

.filter-span {
  display: flex;
  flex-direction: column;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--white500);
  margin-bottom: 12px;
}

.table-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  gap: 14px;
}

.table-line{
  display: flex;
  align-items: center;
  width: 90%;
  background-color: var(--black200);
  padding: 18px 23px;
}

.first-item{
  display: flex;
  align-items: center;
  width: 30%;
  gap: 14px;
  span{
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
.second-item{
  display: flex;
  width: 30%;
  span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
  }
}
.third-item{
  display: flex;
  width: 40%;
  justify-content: flex-end;
  button{
    width: 260px;
    height: 48px;
  }
}

.select {
  display: flex;
  flex-direction: column;
}

.open-select {
  position: relative;
  width: 354px;
  height: 60px;
  border-radius: 5px 5px 0 0;
  border: 1.5px solid var(--textDarkHover);
  background-color: var(--gray900);
  color: var(--white1000);
  padding: 18px;
  cursor: pointer;
  
  img {
    position: absolute;
    top: 26px;
    right: 26px;
    pointer-events:none;
  }
}

.open-select-closed {
  border-radius: 5px;
  position: relative;
  width: 354px;
  height: 60px;
  border: 1.5px solid var(--textDarkHover);
  background-color: var(--gray900);
  color: var(--white1000);
  padding: 18px;
  cursor: pointer;
  
  img {
    position: absolute;
    top: 26px;
    right: 26px;
    pointer-events:none;
  }
}

.options {
  width: 354px;
  max-height: 180px;
  border-radius: 0 0 5px 5px;
  border: 1.5px solid var(--textDarkHover);
  border-top: none;
  background-color: var(--gray1900);
  color: var(--white1000);
}

.option {
  display: block;
  position: relative;
  padding: 16px 16px 16px 45px;
  height: 60px;
  border-bottom: 1.5px solid var(--black700);
  cursor: pointer;
  
  input{
    opacity: 0;
    width: 0;
    height: 0;
    margin-right: 10px;
  }

  span {
    margin: 16px 19px;
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 24px;
  width: 24px;
  background-color:var(--white);
  border-radius: 2px;
}

.option input:checked ~ .checkmark {
  background-color: var(--pink);
}

.option .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 7px;
  top: 4px;
  width: 5px;
  height: 10px;
  border: solid var(--white);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.option input:checked ~ .checkmark:after {
  display: block;
}

.selected-items {
  overflow-x: scroll;
  width: 260px;
  height: 20px;
  white-space: nowrap;
}

.selected-items::-webkit-scrollbar {
  display: none;
}

