.container-my-tests{
  padding-top: 34px;
  padding-left: 26px;
}

.back{
  display: flex;
  width: 100%;
  gap: 46px;
  align-items: center;
  padding-bottom: 22px;

  img{
    cursor: pointer;
  }

  h1{
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: var(--white);
  }
}

.border {
  border-top: 1px solid var(--black700);
  background-color: var(--black);
  box-sizing: content-box;
}

.container-filter{
  position: relative;
  width: 355px;
  height: 60px;
  padding-left: 80px;
  margin-top: 11px;
  margin-bottom: 50px;

  span{
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white500);
    margin-bottom: 12px;
  }
}

.table-body{
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding-left: 80px;
  gap: 14px;
}

.table-line{
  display: flex;
  align-items: center;
  width: 90%;
  background-color: var(--black200);
  padding: 18px 23px;
}

.first-item{
  display: flex;
  align-items: center;
  width: 30%;
  gap: 14px;
  span{
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }
}
.second-item{
  display: flex;
  width: 30%;
  span{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
  }
}
.third-item{
  display: flex;
  width: 40%;
  justify-content: flex-end;
  button{
    width: 260px;
    height: 48px;
  }
}