.table {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 0 40px;
}
.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-weight: 600;
    font-size: 16px;
    color: var(--black600);
  }
}

.name-title {
  padding-left: 20px;
}
.email-title {
  margin-left: 60px;
}
.hit-title {
  margin-left: 90px;
}

.manage-title {
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.table-body {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.table-line {
  display: flex;
  width: 100%;
  height: 64px;
  // justify-content: center;
  align-items: center;
  background-color: var(--white400);
  padding: 14px 18px;
  border-radius: 5px;
}
.first-line-item {
  display: flex;
  // justify-content: center;
  align-items: center;
  text-align: left;
  gap: 8px;
  // span {
  //   min-width: 200px;
  // }
  flex-grow: 1;
}

.second-line-item {
  text-align: left;
  span {
    width: 200px;
  }
  flex-grow: 1;
}

.third-line-item {
  width: 50px;
  text-align: center;
}

.fourth-line-item {
  display: flex;
  width: 200px;
  margin-left: 55px;
  justify-content: flex-end;
  padding: 5px;
  gap: 20px;

  button {
    all: unset;
  }
  img {
    cursor: pointer;
  }
}
